apiVersion: v1
kind: Service
metadata:
  labels:
    app: webinar
  name: webinar
  namespace: webinar
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 5000
  selector:
    app: webinar
  type: LoadBalancer
